# База данных
DB_USER=user
DB_PASSWORD=password
DB_NAME=name

# SMTP настройки
SMTP_USER=user
SMTP_PASSWORD=password
SMTP_HOST=host
SMTP_PORT=0

# Admin
USER_USERNAME=user
USER_PASSWORD=password

# CSRF защита
CSRF_TOKEN=token

# Redis настройки для worker
REDIS_BROKER=redis://127.0.0.1:6380/0
REDIS_BACKEND=redis://127.0.0.1:6380/0

REDIS_CLIENT=redis://redis:6379/1
REDIS_SESSIONS=redis://redis:6379/2

# Режим тестирования
IS_TESTING=False/True
