DB_USER=user
DB_PASSWORD=user_password
DB_NAME=database_name

SMTP_USER=email
SMTP_PASSWORD=password
SMTP_HOST=host
SMTP_PORT=0

FRONTEND_URL=url

PROFILER_USER=user
PROFILER_PASSWORD=user_password

REDIS_BROKER=route
REDIS_BACKEND=route

IS_PROD="is prod version True/False ?"
