# База данных
DB_USER=user
DB_PASSWORD=password
DB_NAME=nmae

# SMTP настройки
SMTP_USER=email
SMTP_PASSWORD=password
SMTP_HOST=host
SMTP_PORT=0

# Пользователь профайлера
USER_USERNAME=user
USER_PASSWORD=password

# Redis настройки для worker
REDIS_BROKER=url
REDIS_BACKEND=url

# Redis для throttle и кеширования
REDIS_CLIENT=url
REDIS_SESSIONS=url

# Настройки для токена
SECRET_KEY=key
ALGORITHM=HS256

# Настройки для соли хеша
SECRET_SALT_KEY=test

# HOST для Frontend
FRONTEND_URL=http://localhost

# S3 конфигурация
S3_ACCESS_KEY=access_key
S3_SECRET_KEY=secret_key
S3_ENDPOINT=url
S3_REGION=region
S3_BUCKET=bucket

# Режим тестирования
IS_TESTING=False
