.container{
    &__table{
        margin-inline: 2vw;

        border: 2px solid black;
    
        th, td {
            border: 2px solid black;
            padding: 0.7em;
            font-size: var(--smolle_text_size);
        }

        td:first-child{
            text-align: center;
    
            writing-mode: vertical-rl;
            transform: rotate(180deg);
        }
    }
}