.container{
    table{
        margin-inline: 2vw;
    
        th, td {
            border: 2px solid black;
            padding: 0.7em;
            font-size: var(--smalle_text_size);
            color: var(--changeable_font_color);
        }

        td:first-child{
            text-align: center;
    
            writing-mode: vertical-rl;
            transform: rotate(180deg);
        }
    }
}