@use '@/app/styles/mixins' as *;

.aside_block{
    position: relative;

    img{
        @include img_positon($filter: 0.8);
    }

    div{
        position: relative;
        z-index: 2;

        width: 50%;
        height: 100%;
        
        background: linear-gradient( 
        to right,
            rgb(49, 49, 49) 50%,
            rgba(49, 49, 49, 0.8) 70%,
            rgba(49, 49, 49, 0.4) 90%,
            rgba(49, 49, 49, 0) 100%
        );

        p{
            padding: 0.6em;
            font-size: var(--simple_text_size);
            color: var(--const_font_white_color);
            text-align: left;
            width: 80%;
        }

        audio{
            padding: 0.6em;
            width: 60%;
        }
    }
}

@media (max-width: 1024px){
    .aside_block div{
        width: 100%;
    }
}