.aside_block{
    width: 100vw;
    position: relative;
    

    img{
        position: absolute;

        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    div{
        position: relative;

        width: 50%;
        height: 100%;
        background: linear-gradient( 
        to right,
            rgb(49, 49, 49) 50%,
            rgba(49, 49, 49, 0.8) 70%,
            rgba(49, 49, 49, 0.4) 90%,
            rgba(49, 49, 49, 0) 100%
        );

        p{
            padding: 0.6em;
            font-size: var(--simple_text_size);
            color: var(--const_font_white_color);
            text-align: left;
            width: 80%;
        }

        audio{
            padding: 0.6em;
            width: 60%;
        }
    }
}