@use '@/app/styles/mixins' as *;

.cards {
    display: grid;
    grid-template-columns: repeat(3, calc(23vw + 2rem));
    grid-auto-rows: clamp(35vh, 25vw, 55vh);
    justify-content: space-evenly;
    row-gap: 6vh;

    .simple_card {
        background-color: var(--bg_elements);
        border-radius: 10px;
        box-shadow: 2px 4px 5px rgb(44, 44, 44);

        img,
        a {
            width: 100%;
            border-radius: 10px;
        }
    
        img {
            height: 65%;
    
            object-fit: cover;
            filter: brightness(0.6);
        }
    
        a {
            height: 35%;
            font-size: var(--smalle_text_size);
            background-color: var(--bg_elements);
            border: 1px solid black;
    
            @include markup();
            text-align: center;
            
            &:hover{
                transform: translateY(-5px);
            }
        }
    }
}

.summary{
    background-color: var(--bg_elements);
    font-size: var(--smalle_text_size);
    padding: 0.5em;
    font-weight: bold;
    border-radius: 5px;

    margin: 5vh 5vw;
}

@media (max-width: 1024px){
    .cards {
        grid-template-columns: 70vw !important;
    }
}