@use '@/app/styles/mixins' as *;

.form {
    width: clamp(65vw, 50vh, 95vw);
    margin: auto;
    margin-top: 5vh;

    border-radius: 10px;
    border: 1px solid black;

    div {
        @include markup();
        flex-direction: column;

        margin-block: 5ch;

        &:last-child {
            flex-direction: row;
            justify-content: space-around;
        }
    }

    textarea,
    input,
    label {
        width: 70%;
        font-size: var(--simple_text_size);
        padding: 0.4em;
    }

    textarea {
        resize: vertical;
    }
}
