@use '@/app/styles/mixins' as *;

.settings_panel{
    height: clamp(7vh, 20vw, 10vh);

    background-color: #535353;

    @include markup($justify-content: space-between);
    padding-inline: 2vw;

    .changing_font{
        width: clamp(40px, 20vh + 10vw, 25%);

        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        background-color: #323232;

        border-radius: 10px;
        padding-block: 5px;

        p,
        button{
            color: var(--const_font_white_color);
            font-weight: bold;
        }

        p{
            background-color: #909090;
            border-radius: 10px;
            @include markup();
        }

        button{
            background-color: transparent;

            &:hover{
                transform: translateY(0);
            }
        }
    }

    .themes{
        height: 100%;
        width: clamp(50%, 65vh, 70%);

        @include markup($justify-content: space-between);

        div{
            width: clamp(60px, 40%, 30%);
            height: 40px;
            
            position: relative;
            background-color: #323232;
            border-radius: 10px;
            
            p{
                position: absolute;
                top: 0;
                left: 0;

                @include markup();

                height: 100%;
                width: 50%;
                border-radius: 10px;
                
                background-color: #909090;
            }

            input{
                position: absolute;
                inset: 0;
                z-index: 2;
                opacity: 0;

                &:checked ~ p{
                    left: 50%;
                }
            }
        }
    }
}