@use '@/app/styles/mixins' as *;

.settings_panel{
    height: clamp(8vh, 20vw, 11vh);

    background-color: #535353;

    @include markup($justify-content: space-between);
    padding-inline: 3vw;

    p{
        font-size: var(--smolle_text_size);
    }

    .changing_font{
        width: clamp(60px, 20%, 20%);

        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        background-color: #323232;

        border-radius: 10px;
        padding-block: 5px;

        p,
        button{
            color: var(--const_font_white_color);
            
            font-weight: bold;
            @include markup();

            padding: 0.15em;
        }

        p{
            background-color: #909090;
            border-radius: 10px;
            height: 100%;
        }

        button{
            background-color: transparent;
            border: none;
        }
    }

    .themes{
        height: 100%;
        width: clamp(60%, 70%, 80%);

        @include markup($justify-content: space-between);

        div{
            width: clamp(60px, 40%, 30%);
            height: clamp(50%, 2rem, 65%);
            
            position: relative;
            background-color: #323232;
            border-radius: 10px;
            
            p{
                position: absolute;
                top: 0;
                left: 0;

                @include markup();

                height: 100%;
                width: 50%;
                border-radius: 10px;
                
                background-color: #909090;
            }

            input{
                position: absolute;
                inset: 0;
                z-index: 2;
                opacity: 0;

                &:checked ~ p{
                    left: 50%;
                }
            }
        }
    }
}