@use '@/app/styles/mixins' as *;

.sources{
    padding: 3vw;

    p{
        font-size: var(--simple_text_size);
        margin-top: 5vh;

        text-align: center;
    }

    ul{
        margin-top: 4ch;
        
        @include markup();
        flex-direction: column;

        li{
            margin: 5px 0;
            font-size: var(--smalle_text_size);
            
            a{
                text-decoration: underline;
            }
        }
    }
}