.sources{
    padding: 3vw;

    p,
    a,
    h1{
        color: var(--changeable_font_color);
    }

    p{
        font-size: var(--simple_text_size);
        margin-top: 5vh;

        text-align: center;
    }

    ul{
        li{
            margin: 5px 0;
            font-size: var(--smalle_text_size);
            
            text-align: center;
            
            a{
                text-decoration: underline;
            }
        }
    }
}