@use '@/app/styles/mixins' as *;

.articles_about_region{

    .image{
        height: clamp(35vh, 50vw, 70vh);

        position: relative;
        top: 0;
        right: 0;

        @include markup($justify-content: start);

        img{
            position: absolute;
            z-index: 1;

            object-fit: cover;
            filter: brightness(0.5);

            width: 100%;
            height: 100%;
        }

        a{
            position: absolute;
            z-index: 3;

            font-weight: bold;
            text-decoration: underline;

            font-size: var(--h3_font_size);
            margin-left: 1.5em;
            color: var(--const_font_white_color);
        }
    }

    .links{
        margin-block: 5vh;

        li{
            text-align: left;
            color: var(--changeable_font_color);
            padding: 0.35em;

            a{
                text-decoration: underline;
                color: var(--changeable_font_color);
            }
        }
    }
}

@media (max-width: 1024px){
    .image{
        justify-content: center !important;

        a{
            margin: 0 !important;
            padding-inline: 0.3em;
            text-align: center;
        }
    }
}
