@use '@/app/styles/mixins' as *;

.article{
    height: clamp(35vh, 50vw, 70vh);

    position: relative;
    top: 0;
    right: 0;

    @include markup($justify-content: start);

    img{
        @include img_positon($filter: 0.55);
    }

    a{
        z-index: 2;

        font-weight: bold;
        font-size: var(--h3_font_size);
        margin-left: 1.5em;
        color: var(--const_font_white_color);
    }
}

.links{
    margin-block: 20px;

    li{
        color: var(--changeable_font_color);
        padding: 0.35em;

        a{
            color: var(--changeable_font_color);
        }
    }
}

@media (max-width: 1024px){
    .image{
        justify-content: center !important;

        a{
            margin: 0 !important;
            padding-inline: 0.3em;
            text-align: center;
        }
    }
}
