.button {
    min-width: 20vw;
    color: var(--const_font_white_color);
    font-size: var(--smalle_text_size);

    border: none;
    font-weight: bold;
    border-radius: 6px;
    
    padding: 0.5em 0.6em;

    &:hover{
        transform: translate(10px, -5px);
    }
}
