.container_small_cards{
    width: 100vw;

    &__card{
        margin: auto;

        width: 90%;

        h3{
            padding: 1em;
            font-weight: bold;
            color: var(--changeable_font_color);
            font-size: var(--h3_font_size);
        }

        div{
            width: 100%;
            height: 100%;
            position: relative;

            img{
                position: absolute;

                width: 100%;
                height: 100%;
                border-radius: 10px;

                object-fit: cover;
                filter: brightness(0.4);
            }

            div{
                position: relative;
                
                p,
                a{
                    padding: 0.7em;
                    font-size: var(--simple_text_size);
                }
     
                p{
                    color: var(--const_font_white_color)
                }

                a{
                    color: var(--const_font_gold_color);
                }
                
            }

        }
    }
}