.container_small_cards{
    .card{
        margin: auto;
        width: 90%;

        h3{
            padding: 1em;
            font-weight: bold;
            color: var(--changeable_font_color);
            font-size: var(--h3_font_size);
            text-align: left;
        }

        div{
            position: relative;
            padding: 5px;
            
            img{
                position: absolute;

                width: 100%;
                height: 100%;
                border-radius: 10px;
                
                object-fit: cover;
                filter: brightness(0.4);
            }

            div{
                position: relative;
                z-index: 2;

                p,
                a{
                    font-size: var(--simple_text_size);
                    padding: 0.4em;
                }
     
                p{
                    color: var(--const_font_white_color);
                }

                a{
                    color: var(--const_font_gold_color);
                }
            }
        }
    }
}