@font-face {
    font-family: 'RobotoSerif';
    src: 
        local('Roboto Serif'),
        local('RobotoSerif'),
        url('../../shared/assets/fonts/Roboto_Serif/RobotoSerif-VariableFont_GRAD,opsz,wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}