@use './mixins' as *;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: var(--const_font_black_color);
    transition: all 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

p{
    margin: 0;
}

img,
video{
    user-select: none;
}

ul, ol {
    list-style: none;
}

.title,
h2{
    margin-block: clamp(5vw, 5vh, 10vw);
    font-weight: 100;
    font-size: var(--h2_font_size);
    padding-inline: 0.5em;
    text-align: center;
    color: var(--changeable_font_color);

    @include markup();
}

hr{
    background-color: var(--const_font_blue_color);
    width: 30vw;
    height: 2px;
}

.simple_text{
    font-size: var(--simple_text_size);
    text-indent: 1.2em;
    padding: 0.6em;
}

.smalle_text{
    font-size: var(--smolle_text_size);
    text-align: left;
    padding: 0.4em;
}

// h2,
.header_scroll_view{
    padding-top: 16vh;
    margin-bottom: -16vh;
}