@use '@/app/styles/mixins' as *;

.theme_light{
    --changeable_font_color: rgb(17, 17, 17);
    --bg_elements: #ececec;

    body{
        background-color: white;
    }
}

.theme_dark{
    --changeable_font_color: rgb(197, 197, 197);
    --bg_elements: #929292;

    .html_image {
        filter: brightness(0.3) !important;
    }

    body{
        background-color: rgb(30, 30, 30);
    }
}

.theme_simple{
    --changeable_font_color: rgb(17, 17, 17);
    --bg_elements: #d3d3d3;

    .css_image{
        @include blackout($value: 0.8);
    }

    .html_image {
        filter: brightness(0.3) !important;
    }

    body{
        background-color: white;
    }

    #section_main_video{
        background-image: url('/images/region/main_image.jpg');

        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }

    video{
        display: none;
    }
}