@use '@/app/styles/mixins' as *;

.container{
    @include markup();
    row-gap: 7vh;
    flex-direction: column;

    .simple_card{
        margin: auto;
        height: 35vh;
        width: 90%;

        @include markup();

        background-color: var(--bg_simple_cards);
        border-radius: 10px;

        strong,
        li{
            padding: 0.6em;
            font-size: var(--smalle_text_size);
            text-align: center;
        }

        strong{
            width: clamp(10vw, 20vw, 40vw);
            height: 100%;

            border-left: 2px solid var(--const_font_blue_color);

            writing-mode: vertical-rl;
            transform: rotate(180deg);

            @include markup();
        }

        ul{
            width: clamp(60vw, 20vw, 75vw);
            height: 100%;

            text-decoration: underline;

            @include markup();
            flex-direction: column;
        }
    }
}