@use '@/app/styles/mixins' as *;

.container{
    @include markup();
    flex-direction: column;
    row-gap: 7vh;

    .simple_card{
        margin: auto;
        height: 25vh;
        width: 90%;

        @include markup();

        background-color: var(--bg_elements);
        border-radius: 10px;

        strong,
        li{
            padding: 0.6em;
            font-size: var(--smalle_text_size);
            text-align: center;
        }

        strong{
            width: 25%;
            height: 100%;

            border-left: 2px solid var(--const_font_blue_color);

            writing-mode: vertical-rl;
            transform: rotate(180deg);

            @include markup();
        }

        ul{
            width: 75%;
            height: 100%;
            text-decoration: underline;

            @include markup($justify-content: space-evenly);
            flex-direction: column;
        }
    }
}