@use '@/app/styles/mixins' as *;

.simple_card{
    margin: 5vh auto;
    width: 90%;

    @include markup();

    background-color: var(--bg_elements);
    border-radius: 10px;

    h3,
    li{
        padding: 0.6em;
        text-align: center;
    }

    h3{
        width: 25%;
        height: clamp(25vh, 12rem, 30vh);

        border-left: 2px solid var(--const_font_blue_color);
        font-size: var(--smalle_text_size);

        writing-mode: vertical-rl;
        transform: rotate(180deg);

        @include markup();
    }

    ul{
        width: 75%;
        height: 100%;

        a{
            font-size: var(--simple_text_size);
        }
    }
}
