@use '@/app/styles/mixins' as *;

.slider{
    div{
        width: 90%;
        height: 80vh;

        margin: auto;
        position: relative;

        @include markup();
        justify-content: space-between;

        img{
            position: absolute;

            width: 100%;
            height: 100%;

            filter: brightness(0.7);

            object-fit: cover;
            border-radius: 25px;
        }

        button{
            position: relative;
            margin-inline: 2vw;
            padding: 0.7em;
            border: none;
            border-radius: 10px;
            min-width: 7vw;

            background-color: var(--bg_elements);
            color: var(--const_font_black_color);
            font-size: var(--h3_font_size);
        }
    }
}