@use '@/app/styles/mixins' as *;

.slider{
    width: 90%;
    height: clamp(45vh, 50vw, 80vh);

    margin: auto;
    position: relative;

    @include markup($justify-content: space-between);
    
    img{
        @include img_positon($filter: 0.5);
        border-radius: 25px;
    }

    button{
        position: relative;
        z-index: 2;

        width: clamp(7vh, 5vh, 10vh);
        height: clamp(7vh, 5vh, 10vh);

        margin-inline: 2vw;

        background-color: var(--bg_elements);
        opacity: 0.7;
        color: var(--const_font_black_color);
    }
}
