@use '@/app/styles/mixins' as *;

.preview_article{
    height: clamp(50vh, 50vw, 100vh);

    @include markup($justify-content: flex-start);
    position: relative;

    img{
        @include img_positon();
        filter: brightness(0.65);
    }

    h1{
        z-index: 2;
        color: var(--const_font_white_color);

        padding: 0.8em;
    }
}

@media (max-width: 1024px){
    .preview_article{
        justify-content: center !important;
    }
}
