@use '@/app/styles/mixins' as *;

.preview_article{
    width: 100vw;
    height: clamp(80vh, 25vw, 100vh);

    @include markup($justify-content: flex-start);
    position: relative;
    

    img{
        width: 100%;
        height: 100%;

        object-fit: cover;
        position: absolute;
    }

    h1{
        position: relative;
        font-size: var(--h1_font_size);
        color: var(--const_font_white_color);

        padding-left: 1em;
    }
}