@use '@/app/styles/mixins' as *;

.preview_article{
    height: clamp(50vh, 50vw, 100vh);

    @include markup($justify-content: flex-start);
    position: relative;
    
    img{
        position: absolute;
        
        width: 100%;
        height: 100%;

        filter: brightness(0.4);

        object-fit: cover;
    }

    h1{
        position: relative;
        z-index: 5;
        font-size: var(--h1_font_size);
        color: var(--const_font_white_color);

        padding-left: 1em;
    }
}

@media (max-width: 1024px){
    .preview_article{
        justify-content: center !important;

        h1{
            padding-inline: 0.3em;
            text-align: center;
        }
    }
}
