@use '@/app/styles/mixins' as *;

.description_region{
    margin-top: 1px;
    
    width: 100vw;
    height: clamp(60vh, 35vw, 80vh);
    position: relative;
    background-image: url('/images/region/second_page_image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
    grid-template-rows: 25% 30% 40%;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }

    h2,
    p,
    strong,
    #container_iframe_map{
        position: relative;
        z-index: 2;
        color: var(--const_font_white_color);
    }

    h2{
        font-size: var(--h2_font_size);
        @include markup();
        font-weight: 100;
    }
}