@use '@/app/styles/mixins' as *;

.description_region{
    margin-top: 1px;
    
    position: relative;
    
    background-image: url('/images/region/second_page_image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    padding-bottom: 5vh;

    @include blackout();

    h2,
    p,
    strong{
        position: relative;
        z-index: 2;
        color: var(--const_font_white_color);
    }

    h2{
        height: clamp(15vh, 10vw, 20vh);
        margin: 0;

        @include markup();
        text-align: center;
    }

    p{
        font-size: var(--simple_text_size);
        padding: 0.5em 5vw;
        text-align: center;

        min-height: 30vh;
    }
}