.introductory_text_article{
    margin-block: 10vh;
    padding-inline: 2em;

    color: var(--changeable_font_color);

    p{
        font-size: var(--h4_font_size);
        text-align: center;
    }
}