.introductory_text_article{
    padding: clamp(10px, 10vw, 10vh);

    position: relative;
    border-top: 1px solid white;

    p{
        font-size: var(--h4_font_size);
        color: var(--changeable_font_color);
    }

    hr{
        background-color: var(--const_font_blue_color);
        width: 30vw;
        height: 2px;
        border: none;

        position: absolute;
        bottom: 0;
        left: 0;
    }
}