.footer{
    width: 100%;
    padding: 0.5em;

    background-image: linear-gradient(
        to right,
        #4D89AE 10%,
        #2E5065 70%
    );

    p,
    a{
        color: var(--const_font_white_color);
        font-size: var(--smolle_text_size);
    }

    a{
        text-decoration: underline;
    }
}