.footer{
    background-image: linear-gradient(
        to right,
        #4D89AE 10%,
        #2E5065 70%
    );

    p,
    a{
        color: var(--const_font_white_color);
        font-size: var(--smalle_text_size);  
    }

    p{
        padding: 0.5em 0.3em 0.3em 0.7em;
    }

    a{
        text-decoration: underline;
    }
}