footer{
    width: 100%;
    padding: 0.6em;

    background-image: linear-gradient(
        to right,
        #4D89AE 10%,
        #2E5065 70%
    );

    p,
    a{
        color: var(--const_font_white_color);
    }
}