@use '@/app/styles/mixins' as *;

.not_foubd{
    position: absolute;
    inset: 17vh 0 0 0;

    @include blackout(); 

    background-image: url('/images/global/entrance_region.jpg');
    background-position: center;
    background-size: cover;
    
    @include markup();
    flex-direction: column;
    row-gap: 1em;

    h1,
    p{
        z-index: 2;

        color: var(--const_font_white_color);
        padding-inline: 1em;
    }

    p{
        font-size: var(--h3_font_size);
        text-align: center;
    }
}
