@use '@/app/styles/mixins' as *;

.not_foubd{
    width: 100vw;
    height: 76vh;

    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ), url('/images/global/entrance_region.jpg');
    background-position: center;
    background-size: cover;

    @include markup();
    flex-direction: column;

    h1,
    p{
        color: var(--const_font_white_color);
        padding: 0.5em;
    }

    h1{
        font-size: var(--h1_font_size);
    }

    p{
        font-size: var(--h3_font_size);
        text-align: left;
    }
}